html {
	margin: 0px;
	height: 100%;
	width: 100%;
}

body {
	margin: 0px;
	height: 100%;
	min-height: 100%;
	width: 100%;
	background-color: #E6E9ED;
	border: 2px solid #434A54;
}

#namew {
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.namec {
	color: #434A54;
	text-align: center;
	font-size: 6vh;
	/*font-weight: bold;*/
	font-family: 'Quicksand', sans-serif;

	margin: 10px;
	border: 0.4vh solid #434A54;
	border-radius: 50%; 
	height: 10vh;
	width : 10vh;	
	min-height: 10vh;
	min-width : 10vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

#socialw {
	heigth: 10%;
	display: flex;
	justify-content: center;
}
a {
	text-decoration: none;
}
.fa.social {
	color: #656D78;
	font-size: 3vh;
	
	margin: 1vh;
	/*background-color: #101010; */
	border-radius: 50%; 
	height: 6vh;
	width : 6vh;	
	min-height: 6vh;
	min-width : 6vh;

	display: flex;
	justify-content: center;
	align-items: center;

	border: 0.3vh solid #656D78;
}

.fa.social:hover {
	color: #F5F7FA;
}

.fa.fa-linkedin:hover {
	background-color: #4A89DC; 
}
.fa.fa-twitter:hover {
	background-color: #4FC1E9; 
}
.fa.fa-envelope:hover {
	background-color: #8CC152; 
}
.fa.fa-github:hover {
	background-color: #333333; 
}
.fa.fa-heart:hover {
	background-color: #E9573F; 
}