html {
	margin: 0px;
	height: 100%;
	width: 100%;
}

body {
	margin: 0px;
	height: 100%;
}

#wrapper {
	height: 100%;
	width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0.8vh solid white;
    background: -webkit-radial-gradient(circle, #CCD1D9, #FFCE54, #FC6E51); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(circle, #CCD1D9, #FFCE54, #FC6E51); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(circle, #CCD1D9, #FFCE54, #FC6E51); /* For Firefox 3.6 to 15 */
    background: radial-gradient(circle, #CCD1D9, #FFCE54, #FC6E51); /* Standard syntax */

}

#namew {
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.favi {
    background: -webkit-radial-gradient(circle, #CCD1D9, #FFCE54, #FC6E51); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(circle, #CCD1D9, #FFCE54, #FC6E51); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(circle, #CCD1D9, #FFCE54, #FC6E51); /* For Firefox 3.6 to 15 */
    background: radial-gradient(circle, #CCD1D9, #FC6E51); /* Standard syntax */

}

.namec {
	color: #434A54;
	text-align: center;
	font-size: 6vh;
	/*font-weight: bold;*/
	font-family: 'Quicksand', sans-serif;

	margin: 10px;
	border: 0.4vh solid #434A54;
	border-radius: 50%; 
	height: 10vh;
	width : 10vh;	
	min-height: 10vh;
	min-width : 10vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

#socialw {
	heigth: 10%;
	display: flex;
	justify-content: center;
}
a {
	text-decoration: none;
}
.fa.social {
	color: #434A54;
	font-size: 3vh;
	
	margin: 1vh;
	/*background-color: #101010; */
	border-radius: 50%; 
	height: 6vh;
	width : 6vh;	
	min-height: 6vh;
	min-width : 6vh;

	display: flex;
	justify-content: center;
	align-items: center;

}

.fa.social:hover {
	color: #F5F7FA;
}
/*
.fa.fa-linkedin {
	color: #4A89DC; 
}
.fa.fa-twitter {
	color: #0074D9; 
}
.fa.fa-envelope {
	color: #3D9970; 
}
.fa.fa-github {
	color: #333333; 
}*/
.fa.fa-heart {
	color: #E9573F; 
}

.fa.fa-linkedin:hover {
	background-color: #4A89DC; 
}
.fa.fa-twitter:hover {
	background-color: #4FC1E9; 
}
.fa.fa-envelope:hover {
	background-color: #8CC152; 
}
.fa.fa-github:hover {
	background-color: #333333; 
}
.fa.fa-heart:hover {
	background-color: #E9573F; 
}