html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
  background-color: #7986CB;
}

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; 
}

.mine-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: -1px;
}

md-progress-linear .md-bar {
    background-color: #3949AB;
}
md-toolbar:not(.md-menu-toolbar) {
    background-color: #283593;
}

.md-button.md-fab {
    background-color: #7986CB;
}